<!-- Registration Form -->
<form [formGroup]="registerForm" (ngSubmit)="onsubmit(registerForm)">
  <!-- Name -->
  <div class="mb-3">
    <app-input
      [control]="registerForm.controls.name"
      [lable]="'نام'"
      [placeholder]="'نام'"
    ></app-input>
  </div>
  <!-- Email -->
  <div class="mb-3">
    <app-input
      [control]="registerForm.controls.email"
      [lable]="'ایمیل'"
      [placeholder]="'ایمیل'"
      [type]="'email'"
    ></app-input>
  </div>
  <!-- Age -->
  <div class="mb-3">
    <app-input
      [control]="registerForm.controls.age"
      [lable]="'سن'"
      [placeholder]="'سن'"
      [type]="'Number'"
    ></app-input>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <app-input
      [control]="registerForm.controls.password"
      [lable]="'رمزعبور'"
      [placeholder]="'رمزعبور'"
      [type]="'password'"
    ></app-input>
  </div>
  <!-- Confirm Password -->
  <div class="mb-3">
    <app-input
      [control]="registerForm.controls.confirmPassword"
      [lable]="'تایید رمزعبور'"
      [placeholder]="'تایید رمزعبور'"
      [type]="'password'"
      [formGroup]="registerForm"
    ></app-input>
  </div>
  <!-- Phone Number -->
  <div class="mb-3">
    <app-input
      [control]="registerForm.controls.phone"
      [lable]="'تلفن'"
      [placeholder]="'تلفن'"
      [type]="'phoneNumber'"
    ></app-input>
  </div>
  <button
    [disabled]="registerForm.invalid"
    [ngClass]="{
      'bg-gray-500 text-white hover:bg-gray-500': registerForm.invalid
    }"
    type="submit"
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500"
  >
    ثبت نام
  </button>
</form>
